@charset "UTF-8";
* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif, Helvetica, Arial;
	margin: 5px;
	background-image:url("img/WiiSysMenu.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 99% 99%;
	
}
#themerbody {
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	margin: auto;
}

#infocontainer {
	margin:  20px auto auto auto;
	padding: 20px;
	width: 50%;
	height: 30%;
	overflow: auto;
}
#infocontainer p, h4 {
	font-size: 16px;
	text-align: left;
}
label {
  margin: 10px;
}
.debug-red {
	outline: 2px dotted red;
}
.margin10-topbottom {
	margin: 10px auto;
}
#pageheadercontainer {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}
#pageHeader { 
	font-size: 25px;
	padding: 5px;
	margin: 5px;
	text-shadow: -1px 0px 0px orange;
	width: 100%;
	position: relative;
}
.letters1:after,
.letters1:before {
  content: "";
  position: absolute;
  display: block;
  width: inherit;
  height: 50%;
  bottom: -52%;
}
.letters1:after {
  background: inherit;
  transform: scaleY(-1);
}
.letters1:before {
  z-index: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #fff);
}
#letter1 {
	
	
}
#letter2 {
	
	
}
#letter3 {
	
	
}
#letter4 {
	
	
}
#letter5 {
	
	
}
#letter6 {
	
	
}
#letter7 {
	
	
}
#letter8 {
	
	
}
#letter9 {
	
	
}
.letters {
	animation: headstartanime 3s ease-in-out 3;
}
@keyframes headstartanime {
	0% {font-size: 45px;}
	10% {font-size: 36px;}
	20% {font-size: 27px;}
	30% {font-size: 18px;}
	40% {font-size: 9px;}
	50% {font-size: 1px;}
	60% {font-size: 9px;}
	70% {font-size: 18px;}
	80% {font-size: 27px;}
	90% {font-size: 36px;}
	100% {font-size: 45px;}
}
@keyframes headstartanime2 {
	0% {font-size: 1px;}
	10% {font-size: 9px;}
	20% {font-size: 18px;}
	30% {font-size: 27px;}
	40% {font-size: 36px;}
	50% {font-size: 45px;}
	60% {font-size: 36px;}
	70% {font-size: 27px;}
	80% {font-size: 18px;}
	90% {font-size: 9px;}
	100% {font-size: 1px;}
}
.smallcaps {
	font-variant: small-caps;
}
.border-black {
	border: 1px solid #000000;
}
.border-black3 {
	border: 3px solid #000000;
}
.border-white {
	border: 1px solid #f1f1f1;
}
.border-radius {
	border-radius: 5px;
}
.border-black-shadow {
	box-shadow: 2px 4px 10px #000000;
}
.border-white-shadow {
	box-shadow: 2px 4px 10px #f1f1f1;
}
.text-black {
	color: #000000;
}
.text-white {
	color: #f1f1f1;
}
.background-sand {
	background-color: #e6d9cc;
}
.background-white {
	background-color: #f1f1f1;
}
.background-black {
	background-color: #000000;
}
.hidden {
	display: none;
}
.text-center {
	text-align: center;
}
.glow {
  animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px yellow, 0 0 10px yellow, 0 0 20px orange, 0 0 30px yellow, 0 0 40px orange, 0 0 50px yellow, 0 0 50px red, 0 0 100px yellow, 0 0 100px orange;
  }
  
  to {
    text-shadow: 0 0 10px yellow, 0 0 20px orange, 0 0 30px yellow, 0 0 40px orange, 0 0 50px yellow, 0 0 50px red, 0 0 100px yellow, 0 0 100px orange, 0 0 100px red;
	
  }
}
@keyframes glow {
	from {
    text-shadow: 0 0 1px yellow, 0 0 10px yellow, 0 0 20px orange, 0 0 30px yellow, 0 0 40px orange, 0 0 50px yellow, 0 0 50px red, 0 0 100px red, 0 0 100px yellow, 0 0 100px orange;
  }
  
  to {
    text-shadow: 0 0 10px yellow, 0 0 20px orange, 0 0 30px yellow, 0 0 40px orange, 0 0 50px yellow, 0 0 50px red, 0 0 100px red, 0 0 100px yellow, 0 0 100px orange, 0 0 100px red;
	
  }
}
.leftpointeranimate {
	position: relative;
	animation: leftpointer 5s linear infinite alternate forwards;
}
.rightpointeranimate {
	position: relative;
	animation: rightpointer 8s linear infinite alternate backwards; 
}
@keyframes leftpointer {
	from {
    transform: none;
	right: 0px;
	top: 0px;
	opacity: 1;
  }
  
  to {
    transform: rotate(180deg);
	right: 25%;
	top: 10%;
	opacity: 0;
  }
}
@keyframes rightpointer1 {
	from {
    transform: none;
	left: 0px;
	bottom: 0px;
	opacity: 1;
  }
  
  to {
    transform: rotate(-180deg);
	left: 25%;
	bottom: 10%;
	opacity: 0;
  }
}
@keyframes rightpointer {
	0% {left:0px;bottom:0px;}
	10% {left:5%;transform:rotate(180deg);bottom:15%;}
	20% {left:10%;transform:rotate(180deg);bottom:25%;}
	30% {left:15%;transform:rotate(180deg);transform: scaleX(-1);}
	40% {left:18%;transform:rotate(45deg);bottom:35%;}
	50% {right:18%;top:35%;}
	60% {}
	70% {}
	80% {}
	90% {}
	100% {}
}
.float-right {
	float: right;
	margin: auto 50px auto auto;
}
.float-left {
	float: left;
}
.text-blue {
	color: #66d9ff;
	text-shadow: -1px 0px 0px #000000;
}
.flex-body {
	display: flex;
}
#nav {
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	margin: auto auto auto 5px;
}
.navinner {
	margin: 10px 5px;
	padding: 5px 15px;
	font-size: 18px;
}
.text-red {
	color: red;
}
@keyframes warning {
	0% {opacity:1;color:red;}
	25% {opacity:0.5;color:#ffff23;}
	50% {opacity:0;}
	75% {opacity:0.5;color:#ffff23;}
	100% {opacity:1;color:red;}
}
.warninglight {
	animation: warning 1s ease-in-out 2s infinite alternate;
}
#returnpreview {
	display: none;
	margin: 3px;
	padding: 5px 15px;
	font-size: 18px;
}
#statsbutton {
	display: none;
	margin: 3px;
	padding: 5px 15px;
	font-size: 18px;
	position: relative;
	bottom: 0;
}
#continue {
	display: none;
	position: absolute;
	bottom: 3%;
	left: 53%;
	font-size: 18px;
	padding: 5px 15px;
	margin: 5px;
}
#returnabout {
	display: none;
	margin: 3px;
	padding: 5px 15px;
	font-size: 18px;
	position: relative;
	bottom: 0;
}
#return {
	display: none;
	position: absolute;
	bottom: 3%;
	left: 45%;
	font-size: 18px;
	padding: 5px 15px;
	margin: 5px;
}
#csmfile {
	margin: 5px;
	padding: 10px;
}
#csmfile:hover {
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	background-color: #000000;
	color: white;
}
#statsbutton:hover, #return:hover, #returnpreview:hover, #returnabout:hover, .navinner:hover, #continue:hover, #uploadbtn:hover {
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: 2px 4px 15px #e6d9cc;
	color: #000000;
	background-color: #e6d9cc;
	cursor: pointer;
}
.statsmodal , .contactmodal, .linksmodal{
	display: none;
	position: fixed; 
	z-index: 1; 
	padding-top: 10%; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
	border-radius: 5px;
}
.statsmodal-content, .contactmodal-content, .linksmodal-content {
  position: relative;
  background-color: #e6d9cc;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #000000;
  color: white;
  text-align: center;
}

.modal-body {
	padding: 2px 16px;
	border-radius: 5px;
	text-align: center;
}
#buildingcontainer {
	flex-flow: column;
	margin: 10px;
	width: 100%;
}
#building {
	margin: 5px;
	padding: 25px;
	font-size: 18px;
}
.buildingform input{
	accent-color: aqua;
}
#theme, #menuversion, #region, #option {
	font-weight: bold;
	padding: 5px 15px;
}
#themelabel, #menuversionlabel, #regionlabel, #optionlabel {
	padding: 5px 15px;
}
#theme:hover, #option:hover, #region:hover, #menuversion:hover {
	background-color: #e6d9cc;
	
}
#theme:focus, #option:focus, #region:focus, #menuversion:focus {
	background-color: green;
	color: white;
}
#appfilelabel {
	display: none;
	margin: 5px;
	padding: 5px 15px;
	position: absolute;
	top: 40%;
	left: 75%;
}
#appfile, #appfile button {
	display: none;
	margin: 5px;
	padding: 5px 15px;
	position: absolute;
	top: 45%;
	left: 75%;
}
#uploadbtn {
	display: none;
	margin: 5px;
	padding: 5px 15px;
	position: absolute;
	top: 50%;
	left: 75%;
}
#fileuploadmessage {
	display: none;
	margin: 5px;
	padding: 5px 15px;
	position: absolute;
	top: 35%;
	left: 75%;
}
.preview {
	display: none;
	border: 2px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	color: white;
	background-color: #000000;
	margin: 15px 5px;	
}
#preview1 {
	width: 33%;
	height: 33%;
}
#previewcontainer {
	margin: auto;
}
#downloadtext {
	display: none;
	width: 60%;
	height: 15%;
	overflow: scroll;
	margin: auto;
	padding: 15px;
	font-size: 18px;
}
.arrows {
	display: none;
	border: 2px solid #000000;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	position: absolute;
	z-index: 1;
	margin: 5px 15px;
}
.arrows:hover {
	opacity: .8;
	border: 2px solid #f1f1f1;
	border-radius: 5px;
	box-shadow: 2px 4px 10px #000000;
	cursor: pointer;
}
#themepreviewcontainer {
	flex-flow: row;
	justify-content: center;
	align-items: center;
	margin: 3% auto;
	width: 96%;
}
#themeimgcontainer {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	margin: 25px auto;
	height: 74%;
	width: 100%;
	position: relative;
}
#themeimg {
	height: 400px;
	width: 400px;
	border-radius: 5px;
	box-shadow: 2px 4px 10px #000000;
	border: 1px solid #000000;
	margin: 25px auto;
}
#leftarrow {
	left: 0;
	bottom: 0;
	transform: scaleX(-1);
}
#rightarrow {
	right: 0;
	bottom: 0;
}
#themedetails {
}
#imagearrowcont {
	height: 24%;
	width: 48%;
}
#themevideocontainer {
	margin: 25px auto;
	z-index: 1;
	height: 96%;
	width: 48%;
	display: flex;
}
iframe {
	margin: 25px auto;
	height: 600px;
	width: 600px;
	justify-content: center;
	align-items: center;
}
#flipper {
	background-color: transparent;
	height: 690px;
	width: 720px;
	margin: auto auto auto 45px;
}
#innerflip {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 1.5s;
	transform-style: preserve-3d;
	margin: auto auto auto 45px;
}
#innerflip:hover {
	transform: rotateX(180deg);
}
#flipfront, #flipback {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
#flipfront {
	background-color: #000000;
	color: white;
}
#flipback { 
	background-color: #e6d9cc;
	color: black;
	transform: rotateX(180deg);
}
#wiicursor {
	height: 80px;
	width: 80px;
	z-index: 1;
	background: transparent;
	position: absolute;
}
@media screen and (max-width: 1920px) {
	#pageHeader {
		font-size: 30px;
	}
}
@media screen and (max-width: 900px) {
	#pageHeader {
		font-size: 23px;
	}
	
}
@media screen and (max-width: 600px) {
	#pageHeader {
		font-size: 16px;
	
	}
	#leftpointer, #rightpointer, #innerleftpointer, #innerrightpointer {
		display: none;
	}
	#themepreviewcontainer {
		flex-flow: column;
	}
	#infocontainer {
		width: 100%;
	}
	@keyframes headstartanime {
		0% {font-size: 30px;}
		10% {font-size: 26px;}
		20% {font-size: 17px;}
		30% {font-size: 8px;}
		40% {font-size: 4px;}
		50% {font-size: 0px;}
		60% {font-size: 4px;}
		70% {font-size: 8px;}
		80% {font-size: 17px;}
		90% {font-size: 26px;}
		100% {font-size: 30px;}
	}
	.navinner {
		margin: 5px;
		padding: 5px 10px;
		font-size: 14px;
	}
}