@charset "UTF-8";
* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif, Helvetica, Arial;
	margin: 0;
	background-image:url("img/WiiSysMenu.avif");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	
}
#infocontainer {
	margin:  20px auto auto auto;
	padding: 20px;
	width: 90%;
	height: 350px;
}
#infocontainer p, h4 {
	font-size: 16px;
	text-align: center;
}
.debug-red {
	outline: 2px dotted red;
}
.debug-orange {
	outline: 2px dotted orange;
}
.debug-yellow {
	outline: 2px dotted yellow;
}
.margin10-topbottom {
	margin: 10px auto;
}
#pageheadercontainer {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-evenly;
	width: 90%;
	margin:  50px auto auto auto;
}
#pageHeader { 
	font-size: 25px;
	padding: 5px;
	margin: 5px;
	text-shadow: -1px 0px 0px orange;
	width: 100%;
	position: relative;
}
.smallcaps {
	font-variant: small-caps;
}
.border-black {
	border: 1px solid #000000;
}
.border-black3 {
	border: 3px solid #000000;
}
.border-white {
	border: 1px solid #f1f1f1;
}
.border-radius {
	border-radius: 5px;
}
.border-black-shadow {
	box-shadow: 2px 4px 10px #000000;
}
.border-white-shadow {
	box-shadow: 2px 4px 10px #f1f1f1;
}
.text-black {
	color: #000000;
}
.text-white {
	color: #f1f1f1;
}
.background-sand {
	background-color: #e6d9cc;
}
.background-white {
	background-color: #f1f1f1;
}
.background-black {
	background-color: #000000;
}
.hidden {
	display: none;
}
.text-center {
	text-align: center;
}
.glow {
  animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px yellow, 0 0 10px yellow, 0 0 20px orange, 0 0 30px yellow, 0 0 40px orange, 0 0 50px yellow, 0 0 50px red, 0 0 100px yellow, 0 0 100px orange;
  }
  
  to {
    text-shadow: 0 0 10px yellow, 0 0 20px orange, 0 0 30px yellow, 0 0 40px orange, 0 0 50px yellow, 0 0 50px red, 0 0 100px yellow, 0 0 100px orange, 0 0 100px red;
	
  }
}
@keyframes glow {
	from {
    text-shadow: 0 0 1px yellow, 0 0 10px yellow, 0 0 20px orange, 0 0 30px yellow, 0 0 40px orange, 0 0 50px yellow, 0 0 50px red, 0 0 100px red, 0 0 100px yellow, 0 0 100px orange;
  }
  
  to {
    text-shadow: 0 0 10px yellow, 0 0 20px orange, 0 0 30px yellow, 0 0 40px orange, 0 0 50px yellow, 0 0 50px red, 0 0 100px red, 0 0 100px yellow, 0 0 100px orange, 0 0 100px red;
	
  }
}
.float-right {
	float: right;
	margin: auto 50px auto auto;
}
.float-left {
	float: left;
}
.text-blue {
	color: #66d9ff;
	text-shadow: -1px 0px 0px #000000;
}
.flex-body {
	display: flex;
}
#nav {
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	margin: auto auto auto 5px;
}
.navinner {
	margin: 10px 5px;
	padding: 5px 15px;
	font-size: 18px;
	width: 17%;
}
.text-red {
	color: red;
}
@keyframes warning {
	0% {opacity:.5;color:red;}
	12.5% {opacity:1;color:red;}
	25% {opacity:0.5;color:#ffff23;}
	37.5% {opacity:1;color:#ffff23;}
	45% {opacity:0.5;color:#000000;}
	50% {opacity:1;color:#000000;}
	55% {opacity:0.5;color:#000000;}
	62.5% {opacity:1;color:#ffff23;}
	75% {opacity:0.5;color:#ffff23;}
	87.5% {opacity:1;color:red;}
	100% {opacity:.5;color:red;}
}
.warninglight {
	animation: warning 3s ease-in-out infinite;
}
#statsbutton {
	display: none;
	margin: 3px;
	padding: 5px 15px;
	font-size: 18px;
	position: relative;
	bottom: 5px;
}
#returnabout {
	display: none;
	margin: 3px;
	padding: 5px 15px;
	font-size: 18px;
	position: relative;
	bottom: 5px;
}
#return, #continue {
	display: none;
	font-size: 18px;
	padding: 5px 15px;
	margin: 5px auto;
	width: 50%;
}
#statsbutton:hover, #return:hover, #returnpreview:hover, #returnabout:hover, .navinner:hover, #continue:hover, #uploadbtn:hover {
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: 2px 4px 15px #e6d9cc;
	color: #000000;
	background-color: #e6d9cc;
	cursor: pointer;
}
.statsmodal , .contactmodal, .linksmodal, .downloadtextmodal {
	display: none;
	position: fixed; 
	z-index: 1; 
	padding-top: 5%; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
	border-radius: 5px;
}
.statsmodal-content, .contactmodal-content, .linksmodal-content, .downloadtextmodal-content {
  position: relative;
  background-color: #e6d9cc;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #000000;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.modal-body {
	padding: 2px 16px;
	border-radius: 5px;
	text-align: center;
}
.modal-body a{
	padding: 0 5px;
}
#buildingcontainer {
	display: flex;
	flex-flow: row;
	width: 90%;
	height: 450px;
	justify-content: space-around;
	margin: 15px auto;
}
#building {
	display: flex;
	flex-flow: column;
	font-size: 18px;
	width: 40%;
	justify-content: space-around;
	margin: auto;
	text-align: center;
}
.preview {
	display: none;
	border: 2px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	color: white;
	background-color: #000000;
	text-align: center;
}
#preview1 {
	width: 100%;
	height: 400px;
	
}
#previewcontainer {
	width: 32%;
	margin: auto;
	height: 400px;
}
#spinoption {
	width: 25%;
	margin: 5% auto;
	text-align: center;
}
.links {
	margin: auto;
	padding: 5px 10px;
}
.buildselect {
	margin: 10px auto;
	padding: 5px;
	text-align: center;
}

.buildlabel {
	margin: 10px auto;
	padding: 5px;
}
#downloadtext {
	display: none;
	overflow: scroll;
	margin: auto;
	padding: 15px;
	font-size: 18px;
}
#csmfile {
	margin: 5px;
	padding: 10px 15px;
	text-decoration: none;
}
#csmfile:hover {
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	background-color: #000000;
	color: white;
}
#message {
	margin: 10px auto;
	padding: 5px 15px;
	width: 80%;
}
.arrows {
	border: 2px solid #000000;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	position: absolute;
	bottom: 45%;
	z-index: 1;
	margin: 5px 15px;
}
.arrows:hover {
	opacity: .8;
	border: 2px solid #f1f1f1;
	border-radius: 5px;
	box-shadow: 2px 4px 10px #000000;
	cursor: pointer;
}
#themepreviewcontainer {
	width: 100%;
	position: relative;
	margin: 10px;
	text-align: center;
}
#themeimgcontainer {
	height: 500px;
	width: 500px;
}
#themeimg {
	border-radius: 5px;
	box-shadow: 2px 4px 10px #000000;
	border: 1px solid #000000;
}
#leftarrow {
	left: 0;
	transform: scaleX(-1);
}
#rightarrow {
	right: 0;
}
#themevideocontainer {
	height: 500px;
	width: 500px;
	
}
#returnpreview {
	width: 25%;
	margin: 10px auto;
	padding: 5px 15px;
	font-size: 18px;
}
.flex-row {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-around;
	margin: auto;
}
.flex-column {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	margin: auto;
}
#themedetails {
	margin: 10px auto;
	padding: 10px;
	width: 80%;
}
#themeimg {
	height: 500px;
	width: 500px;
	margin: auto;
}
@media screen and (max-width: 300px) {
	#nav {
		flex-flow: column;
		margin:auto;
	}
	.navinner {
		width: 100%;
	}
}