* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif, Helvetica, Arial;
	margin: 5px;
	background-image:url("img/WiiSysMenu.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}
label {
  margin: 10px;
}
#pageHeader {
	font-size: 30px;
	padding: 5px;
	margin: 5px;
	text-shadow: -1px 1px 0px orange;
	width: 100%;
}
.border-black {
	border: 1px solid #000000;
}
.border-white {
	border: 1px solid #f1f1f1;
}
.border-radius {
	border-radius: 5px;
}
.border-black-shadow {
	box-shadow: 2px 4px 10px #000000;
}
.border-white-shadow {
	box-shadow: 2px 4px 10px #f1f1f1;
}
.text-black {
	color: #000000;
}
.text-white {
	color: #f1f1f1;
}
.background-white {
	background-color: #f1f1f1;
}
.background-black {
	background-color: #000000;
}
.hidden {
	display: none;
}
.text-center {
	text-align: center;
}
.glow {
  animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px yellow, 0 0 10px yellow, 0 0 20px orange, 0 0 30px yellow, 0 0 40px orange, 0 0 50px yellow, 0 0 50px red, 0 0 100px yellow, 0 0 100px orange;
  }
  
  to {
    text-shadow: 0 0 10px yellow, 0 0 20px orange, 0 0 30px yellow, 0 0 40px orange, 0 0 50px yellow, 0 0 50px red, 0 0 100px yellow, 0 0 100px orange, 0 0 100px red;
	
  }
}
@keyframes glow {
	from {
    text-shadow: 0 0 1px yellow, 0 0 10px yellow, 0 0 20px orange, 0 0 30px yellow, 0 0 40px orange, 0 0 50px yellow, 0 0 50px red, 0 0 100px yellow, 0 0 100px orange;
  }
  
  to {
    text-shadow: 0 0 10px yellow, 0 0 20px orange, 0 0 30px yellow, 0 0 40px orange, 0 0 50px yellow, 0 0 50px red, 0 0 100px yellow, 0 0 100px orange, 0 0 100px red;
	
  }
}
.leftpointeranimate {
	position: relative;
	animation: leftpointer 2s linear infinite alternate forwards;
}
.rightpointeranimate {
	position: relative;
	animation: rightpointer 2s linear infinite alternate forwards; 
}
@keyframes leftpointer {
	from {
    right: 0px;
	top: 0px;
	opacity: 1;
  }
  
  to {
    right: 25%;
	top: 10%;
	opacity: 0;
  }
}
@keyframes rightpointer {
	from {
    left: 0px;
	bottom: 0px;
	opacity: 1;
  }
  
  to {
    left: 25%;
	bottom: 10%;
	opacity: 0;
  }
}
@keyframes rightpointer1 {
	0% {left:0px;bottom:0px;}
	10% {left:5%;transform:rotateY(180deg);bottom:15%;}
	20% {left:10%;transform:rotateY(180deg);bottom:25%;}
	30% {left:15%;transform:rotateY(180deg);transform: scaleX(-1);}
	40% {}
	50% {}
	60% {}
	70% {}
	80% {}
	90% {}
	100% {}
}
.float-right {
	float: right;
	margin: auto 50px auto auto;
}
.float-left {
	float: left;
}
.text-blue {
	color: #66d9ff;
	text-shadow: 1px 1px 1px #000000;
}
.flex-body {
	display: flex;
}
#nav {
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	float: left;
	margin: auto auto auto 5px;
}
.navinner {
	margin: 10px 5px;
	padding: 5px 15px;
	font-size: 18px;
	z-index: 1;
}
.text-red {
	color: red;
}
#infocontainer {
	margin: 0 30% 0 30%;
	padding: 20px;
	width: 35%;
	height: 40%;
	overflow: auto;
	position: fixed;
}
#infocontainer p, h4 {
	font-size: 16px;
	text-align: left;
}
@keyframes warning {
	0% {opacity:1;color:red;}
	25% {opacity:0.5;color:#ffff23;}
	50% {opacity:0;}
	75% {opacity:0.5;color:#ffff23;}
	100% {opacity:1;color:red;}
}
.warninglight {
	animation: warning 2s ease-in-out infinite alternate;
}
#return {
	display: none;
	margin: auto auto auto 10px;
	padding: 10px;
	font-size: 18px;
}
#statsbutton {
	display: none;
	margin: auto 10px auto auto;
	padding: 10px;
	font-size: 18px;
	float: right;
}
#continue {
	display: none;
	width: 200px;
	height: 30px;
	position: absolute;
	bottom: 3%;
	left: 43.5%;
	font-size: 18px;
}
#statsbutton:hover, return:hover, .navinner:hover, #continue:hover {
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: 2px 4px 10px #000000;
	color: #000000;
	background-color: #f1f1f1;
	cursor: pointer;
}
.statsmodal , .contactmodal{
	display: none;
	position: fixed; 
	z-index: 1; 
	padding-top: 10%; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
	border-radius: 5px;
}
.statsmodal-content, .contactmodal-content {
  position: relative;
  background-color: #f1f1f1;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #000000;
  color: white;
  text-align: center;
}

.modal-body {
	padding: 2px 16px;
	border-radius: 5px;
	text-align: center;
}
#buildingcontainer {
	flex-flow: row wrap;
	margin: 10px;
	justify-content: space-evenly;
}
#building {
	margin: 10px;
	width: 100%;
	padding: 20px;
	font-size: 18px;
}
.buildingform input{
	accent-color: aqua;
}
