* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif, Helvetica, Arial;
	margin: 5px;
	background-image:url("img/WiiSysMenu.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-size: 20px;
}
button {
	font-size: 20px;
}
label {
  margin: 10px;
}
.float-right {
	float: right;
	margin: auto 50px auto auto;
}
.float-left {
	float: left;
}
.text-blue {
	color: #66d9ff;
	text-shadow: 1px 1px 1px #000000;
}
#pageHeader {
	text-align: center;
	font-size: 30px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	padding: 5px;
	margin: 10px auto;
	color: white;
	background-color: #000000;
	text-shadow: 2px 4px 10px orange;
}
.hidden {
	display: none;
}
.nav {
	margin: auto auto auto 10px;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	width: 12.5%;
	float: left;
}
.navinner {
	width: 98%;
	margin: 5px;
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	color: white;
	background-color: #000000;
	text-align: center;
	text-decoration: underline;
}
.navinner:hover {
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: 2px 4px 10px #000000;
	color: #000000;
	background-color: white;
	cursor: pointer;
}
#infocontainer {
	margin: auto;
	padding: 20px;
	text-align: center;
	width: 700px;
	height: 350px;
	border: 2px solid #000000;
	border-radius: 5px;
	box-shadow: 2px 4px 10px #000000;
	color: #000000;
	background-color: #f1f1f1;
	overflow: auto;
}
#infocontainer p, h4 {
	font-size: 16px;
	text-align: left;
}
#proceed {
	text-align: center;
	padding: 5px;
	width: 25%;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	color: white;
	background-color: #000000;
}
#proceed:hover {
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: 2px 4px 10px #000000;
	color: #000000;
	background-color: #f1f1f1;
	cursor: pointer;
}
#return {
	display: none;
	margin: auto auto auto 10px;
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	background-color: #000000;
	color: white;
	
}
#return:hover {
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: 2px 4px 10px #000000;
	color: #000000;
	background-color: #f1f1f1;
	cursor: pointer;
}
.preview {
	display: none;
	border: 2px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	color: white;
	background-color: #000000;
	margin: 5px;
	
}
#preview1 {
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	width: 700px;
	height: 400px;
}
#previewcontainer {
	flex-flow: row wrap;
	align-items: center;
	margin: 5px;
	/*margin-top: 25px;*/
	justify-content: center;
}
#buildingcontainer {
	flex-flow: row wrap;
	align-items: center;
	margin: 10px;
	/*margin-top: 25px;*/
	justify-content: space-evenly;
}
#building {
	margin: 10px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	color: white;
	background-color: #000000;
	width: 100%;
	padding: 20px;
}

#continue {
	display: none;
	width: 200px;
	height: 30px;
	position: absolute;
	bottom: 5%;
	left: 43.5%;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	color: white;
	background-color: #000000;
	font-size: 20px;
}
#continue:hover {
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: 2px 4px 10px #000000;
	color: #000000;
	background-color: white;
}
#themepreviewcontainer {
	margin: 50px;
	display: none;
}
#themesectioncontainer {
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 10px auto 10px auto;
}
#themeimgcontainer {
	margin: auto auto auto 15px;
	height:700px;
	width: 890px;
}
#themeimg {
	z-index: 1;
	height:640px;
	width: 710px;
	border-radius: 5px;
	box-shadow: 2px 4px 10px #000000;
	border: 1px solid #000000;
}
#leftarrow {
	margin: 40% auto auto 5px;
	float: left;
	transform: scaleX(-1);
	clear: none;
}
#rightarrow {
	margin: 40% 5px auto auto;
	float: right;
	clear: none;
}
#themevideocontainer {
	display: block;
	margin: auto 15px auto auto;
	perspective: 800px;
	z-index: 1;
	height:700px;
	width: 900px;
}
iframe {
	margin: 10px;
	height:675px;
	width: 875px;
	border-radius: 5px;
	box-shadow: 2px 4px 10px #000000;
	border: 1px solid #000000;
}
#downloadtext {
	display: none;
	text-align: center;
	width:60%;
	height: 300px;
	margin: auto;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	background-color: #000000;
	color: white;
	overflow: scroll;
}
.arrows {
	display: none;
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	
	z-index: 1;
}
.arrows:hover {
	opacity: .8;
	border: 1px solid #f1f1f1;
	border-radius: 5px;
	box-shadow: 2px 4px 10px #000000;
	cursor: pointer;
}
#appfilelabel {
	display: none;
	margin: 5px;
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	background-color: #000000;
	color: white;
}
#appfile, #appfile button {
	display: none;
	margin: 5px;
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	background-color: #000000;
	color: white;
}
#themedlcount {
	
}
#themedlcounttext {
	
}
.glow {
  animation: glow 3s ease-in-out infinite;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px yellow, 0 0 100px orange, 0 0 20px orange, 0 0 80px yellow, 0 0 30px orange, 0 0 10px yellow, 0 0 10px orange, 0 0 10px yellow;
  }
  
  to {
    text-shadow: 0 0 100px yellow, 0 0 20px orange, 0 0 80px yellow, 0 0 30px orange, 0 0 10px yellow, 0 0 10px orange, 0 0 10px yellow, 0 0 100px orange;
	
  }
}
@keyframes glow {
	from {
    text-shadow: 0 0 1px yellow, 0 0 100px orange, 0 0 20px orange, 0 0 80px yellow, 0 0 30px orange, 0 0 10px yellow, 0 0 10px orange, 0 0 10px yellow;
  }
  
  to {
    text-shadow: 0 0 100px yellow, 0 0 20px orange, 0 0 80px yellow, 0 0 30px orange, 0 0 10px yellow, 0 0 10px orange, 0 0 10px yellow, 0 0 100px orange;
	
  }
}
#statsbutton {
	display: none;
	margin: auto 10px auto auto;
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	background-color: #000000;
	color: white;
	float: right;
}
#statsbutton:hover {
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: 2px 4px 10px #000000;
	color: #000000;
	background-color: #f1f1f1;
	cursor: pointer;
}
#csmfile {
	margin: 5px;
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px #000000;
	color: #000000;
	background-color: #f1f1f1;
}
#csmfile:hover {
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	background-color: #000000;
	color: white;
}
.statsmodal , .contactmodal{
	display: none;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 150px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	border-radius: 5px;
}
.statsmodal-content, .contactmodal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #000000;
  color: white;
  text-align: center;
}

.modal-body {
	padding: 2px 16px;
	border-radius: 5px;
	text-align: center;
}
#flipper {
	background-color: transparent;
	height:640px;
	width: 710px;
	margin: 10px auto 10px auto;
}
#innerflip {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 1.5s;
	transform-style: preserve-3d;
}
#innerflip:hover {
	transform: rotateX(180deg);
}
#flipfront, #flipback {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	margin: 5px;
}
#flipfront {
	background-color: #000000;
	color: white;
}
#flipback { 
	background-color: #f1f1f1;
	color: black;
	transform: rotateX(180deg);
}
.text-red {
	color: red;
}
@keyframes warninglight {
  0%   {background-color:red; color:white;}
  25%  {background-color:white; color:red;}
  50%  {background-color:red; color:white;}
  75%  {background-color:white; color:red;}
  100% {background-color:red; color:white;}
}
.warning {
	
	position: relative;
	animation: warninglight 5s linear 2s infinite alternate;
}