* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif, Helvetica, Arial;
	margin: 0;
	background-image:url("img/WiiSysMenu.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-size: 20px;
}
button {
	font-size: 20px;
}
label {
  margin: 10px;
}
#pageHeader {
	text-align: center;
	font-size: 30px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 3px 8px white;
	padding: 5px;
	margin: 5px;
	color: white;
	background-color: #000000;
	text-shadow: 2px 4px 10px orange;
}
.hidden {
	display: none;
}
.nav {
	margin: 10px;
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	align-items: center;
	width: 12.5%;
	float: left;
}
.navinner {
	width: 98%;
	margin: 5px;
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 4px 10px white;
	color: white;
	background-color: #000000;
	text-align: center;
	text-decoration: underline;
}
.navinner:hover {
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: 2px 4px 10px #000000;
	color: #000000;
	background-color: white;
	cursor: pointer;
}
#infocontainer {
	margin: 15px auto;
	padding: 20px;
	text-align: center;
	width: 700px;
	height: 300px;
	border: 2px solid #000000;
	border-radius: 5px;
	box-shadow: 2px 4px 10px #000000;
	color: #000000;
	background-color: #f1f1f1;
	overflow: auto;
}
#infocontainer p, h4 {
	font-size: 16px;
	text-align: left;
}
#proceed {
	text-align: center;
	padding: 5px;
	width: 25%;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 3px 8px white;
	color: white;
	background-color: #000000;
}
#proceed:hover {
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: 2px 3px 8px #000000;
	color: #000000;
	background-color: #f1f1f1;
	cursor: pointer;
}
#return {
	display: none;
	margin: 5px;
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 3px 8px white;
	background-color: #000000;
	color: white;
	
}
#return:hover {
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: 2px 3px 8px #000000;
	color: #000000;
	background-color: #f1f1f1;
	cursor: pointer;
}
.preview {
	display: none;
	border: 2px solid white;
	border-radius: 5px;
	box-shadow: 2px 3px 8px white;
	color: white;
	background-color: #000000;
	margin: 10px;
	padding: 5px;
	
}
#preview1 {
	border-radius: 5px;
	width: 900px;
	height: 500px;
}
#previewcontainer {
	flex-flow: row wrap;
	align-items: center;
	margin: 10px;
	/*margin-top: 25px;*/
	justify-content: center;
}
#buildingcontainer {
	display: none;
}
#building {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	margin: 10px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 3px 8px white;
	color: white;
	background-color: #000000;
}
#continue {
	display: none;
	width: 200px;
	height: 30px;
	position: absolute;
	bottom: 5%;
	left: 43.5%;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 3px 8px white;
	color: white;
	background-color: #000000;
	font-size: 20px;
}
#continue:hover {
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: 2px 3px 8px #000000;
	color: #000000;
	background-color: white;
}
#themepreviewcontainer {
	margin: 10px auto;
	justify-content: center;
}
#themeimg {
	border-radius: 5px;
	box-shadow: 2px 3px 8px #000000;
	border: 1px solid #000000;
	z-index: 1;
}
#leftarrow {
	margin: auto;
	top: 45%;
	left: 10px;
	transform: scaleX(-1);
}
#rightarrow {
	margin: auto;
	top: 45%;
	right: 10px;
}
#downloadtext {
	display: none;
	text-align: center;
	width: 50%;
	height: 150px;
	margin: auto;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 3px 8px white;
	background-color: #000000;
	color: white;
	overflow: scroll;
}
.arrows {
	font-size: 50px;
	display: none;
	text-align: center;
	border-radius: 5px;
	box-shadow: 2px 3px 8px white;
	position: absolute;
	z-index: 1;
}
.arrows:hover {
	opacity: .8;
	border-radius: 5px;
	box-shadow: 2px 3px 8px #000000;
	cursor: pointer;
}
#appfilelabel {
	display: none;
	margin: 5px;
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 3px 8px white;
	background-color: #000000;
	color: white;
}
#appfile, #appfile button {
	display: none;
	margin: 5px;
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 3px 8px white;
	background-color: #000000;
	color: white;
}
#themedlcount {
	
}
#themedlcounttext {
	
}
.glow {
  animation: glow 3s ease-in-out infinite;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px yellow, 0 0 100px orange, 0 0 20px orange, 0 0 80px yellow, 0 0 30px orange, 0 0 10px yellow, 0 0 10px orange, 0 0 10px yellow;
  }
  
  to {
    text-shadow: 0 0 100px yellow, 0 0 20px orange, 0 0 80px yellow, 0 0 30px orange, 0 0 10px yellow, 0 0 10px orange, 0 0 10px yellow, 0 0 100px orange;
	
  }
}
@keyframes glow {
	from {
    text-shadow: 0 0 1px yellow, 0 0 100px orange, 0 0 20px orange, 0 0 80px yellow, 0 0 30px orange, 0 0 10px yellow, 0 0 10px orange, 0 0 10px yellow;
  }
  
  to {
    text-shadow: 0 0 100px yellow, 0 0 20px orange, 0 0 80px yellow, 0 0 30px orange, 0 0 10px yellow, 0 0 10px orange, 0 0 10px yellow, 0 0 100px orange;
	
  }
}
#statsbutton {
	display: none;
	margin: 5px;
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 3px 8px white;
	background-color: #000000;
	color: white;
}
#statsbutton:hover {
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: 2px 3px 8px #000000;
	color: #000000;
	background-color: #f1f1f1;
	cursor: pointer;
}
#csmfile {
	margin: 5px;
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 3px 8px #000000;
	color: #000000;
	background-color: #f1f1f1;
}
#csmfile:hover {
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 2px 3px 8px white;
	background-color: #000000;
	color: white;
}
.statsmodal , .contactmodal{
	display: none;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 150px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	border-radius: 5px;
}
.statsmodal-content, .contactmodal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #000000;
  color: white;
  text-align: center;
}

.modal-body {
	padding: 2px 16px;
	border-radius: 5px;
	text-align: center;
}