@charset "UTF-8";
* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif, Helvetica, Arial;
	margin: 0;
	
}
.mainBG {
	background-image: url('img/WiiSysMenu.avif');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
#infocontainer {
	margin:  25px auto;
	padding: 15px;
	width: 90%;
}
#infocontainer p, h4 {
	font-size: 16px;
	text-align: center;
}
.textshadow-orange {
	text-shadow: -3px -1px 3px orange, -6px -2px 6px yellow, -9px -3px 9px red;
}
.glowtext {
	animation: glow_text 2s ease-in-out alternate infinite;
}
@keyframes glow_text {
	from {
    text-shadow: 0 0 1px yellow, 0 0 10px yellow, 0 0 20px orange, 0 0 30px yellow, 0 0 40px orange, 0 0 50px yellow, 0 0 50px red, 0 0 100px red, 0 0 100px yellow, 0 0 100px orange;
  }
  
  to {
    text-shadow: 0 0 100px yellow, 0 0 20px orange, 0 0 30px yellow, 0 0 40px orange, 0 0 50px yellow, 0 0 50px red, 0 0 100px red, 0 0 100px yellow, 0 0 100px orange, 0 0 100px red;
	
  }
}
.debug-red {
	outline: 2px dotted rgb(255, 0, 0);
}
.debug-orange {
	outline: 2px dotted rgb(255, 165, 0);
}
.debug-yellow {
	outline: 2px dotted rgb(255, 255, 0);
}
.margin10-topbottom {
	margin: 10px auto;
}
#pageheadercontainer {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
	width: 90%;
	margin:  50px auto;
	color: whitesmoke;
}
#pageHeader { 
	font-size: 25px;
	padding: 5px;
	margin: 5px;
	width: 100%;
	position: relative;
}
.smallcaps {
	font-variant: small-caps;
}
.border-black {
	border: 1px solid rgb(0, 0, 0);
}
.border-black3 {
	border: 3px solid rgb(0, 0, 0);
}
.border-white {
	border: 1px solid rgb(241, 241, 241);
}
.border-orange {
	border: 1px solid orange;
}
.border-yellow {
	border: 1px solid yellow;
}
.border-green {
	border: 1px solid green;
}
.border-radius {
	border-radius: 5px;
}
.border-black-shadow {
	box-shadow: 2px 4px 10px rgb(0, 0, 0);
}
.border-white-shadow {
	box-shadow: 2px 4px 15px rgb(241, 241, 241);
}
.border-orange-shadow {
	box-shadow: 2px 4px 15px orange;
}
.border-yellow-shadow {
	box-shadow: 2px 4px 15px yellow;
}
.border-green-shadow {
	box-shadow: 2px 4px 15px green;
}
.text-black {
	color: rgb(0, 0, 0);
}
.text-white {
	color: rgb(241, 241, 241);
}
.background-sand {
	background-color: rgb(230, 217, 200);
}
.background-white {
	background-color: rgb(241, 241, 241);
}
.background-black {
	background-color: rgb(0, 0, 0);
}
.hidden {
	display: none;
}
.clearfix {
	clear: none;
}
.text-center {
	text-align: center;
}
@keyframes glow {
	from {
    text-shadow: 2px 1px 1px yellow, 0px 0px 10px orange;
  }
  
  to {
    text-shadow: 2px 1px 25px yellow, 0px 0px 50px orange;
	
  }
}
.float-right {
	float: right;
	margin: auto;
}
.float-left {
	float: left;
}
.text-blue {
	color: rgb(102, 217, 255);
	text-shadow: -1px 1px 0px rgb(0, 0, 0);
}
.flex-body {
	display: flex;
}
#nav {
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	margin: auto auto auto 5px;
}
.navinner {
	margin: 10px 5px;
	padding: 7px 21px;
	font-size: 18px;
	width: 17%;
	box-shadow: 3px 1px 10px yellow;
}
.navinner:hover {
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: -3px -1px 10px orange;
	color: rgb(0, 0, 0);
	background-color: rgb(230, 217, 204);
	cursor: pointer;
}
#mymenuifymoddownloads, #wiithemerdownloads {
	float: right;
	margin-right: 5px;
	padding: 5px 10px;
}
.text-red {
	color: rgb(255, 0, 0);
}
#checkpreview {
	margin: 10px auto;
	padding: 5px 15px;
	font-size: 18px;
	width: 65%;
	box-shadow: 3px 1px 15px orange;
	border: 1px solid orange;
}
#larrow {
	padding: 5px 15px;
	font-size: 18px;
	float: left;
	margin: 10px auto;
	box-shadow: 3px 1px 15px orange;
	border: 1px solid orange;
}
#rarrow {
	padding: 5px 15px;
	font-size: 18px;
	float: right;
	margin: 10px auto;
	box-shadow: 3px 1px 15px orange;
	border: 1px solid orange;
}
@keyframes warning {
	0% {opacity:.5;color:rgb(255, 0, 0);}
	12.5% {opacity:1;color:rgb(255, 0, 0);}
	25% {opacity:0.5;color:rgb(255, 255, 35);}
	37.5% {opacity:1;color:rgb(255, 255, 35);}
	45% {opacity:0.5;color:rgb(0, 0, 0);}
	50% {opacity:1;color:rgb(0, 0, 0);}
	55% {opacity:0.5;color:rgb(0, 0, 0);}
	62.5% {opacity:1;color:rgb(255, 255, 35);}
	75% {opacity:0.5;color:rgb(255, 255, 35);}
	87.5% {opacity:1;color:rgb(255, 0, 0);}
	100% {opacity:.5;color:rgb(255, 0, 0);}
}
.warninglight {
	animation: warning 3s infinite;
}
#continue {
	display: none;
	font-size: 18px;
	padding: 8px;
	margin: auto;
	width: 90%;
}
#continue:hover, #checkpreview:hover, #larrow:hover, #rarrow:hover {
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: 3px 1px 5px rgb(230, 217, 204);
	color: rgb(0, 0, 0);
	background-color: rgb(230, 217, 204);
	cursor: pointer;
}
.statsmodal , .contactmodal, .linksmodal, .downloadtextmodal, .buildmodal {
	display: none;
	position: fixed; 
	z-index: 1; 
	padding-top: 5%; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
	border-radius: 5px;
}
.linksmodal-content,.buildmodal-content{
	border: 1px solid orange;
	box-shadow: 2px 4px 15px orange ;
}
.statsmodal-content, .downloadtextmodal-content {
	border: 1px solid yellow;
	box-shadow: 2px 4px 15px yellow ;
}
.contactmodal-content {
	border: 1px solid green;
	box-shadow: 2px 4px 15px green ;
}
.statsmodal-content, .contactmodal-content, .linksmodal-content, .downloadtextmodal-content, .buildmodal-content {
  position: relative;
  background-color: rgb(230, 217, 204);
  margin: auto;
  padding: 0;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 1s
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.close {
  color: rgb(255, 255, 255);
  float: right;
  font-size: 28px;
  font-weight: bold;
  height: auto;
}
.closecomment {
	color: #000000;
	float: right;
	font-weight: bold;
	clear: none;
	border: 1px solid black;
	border-radius: 3px;
	padding: 3px;
	z-index: 1;
}
.closecomments {
	color: #000000;
	float: right;
	font-weight: bold;
	clear: both;
	border: 1px solid black;
	border-radius: 3px;
	padding: 3px;
}
.close:hover,
.close:focus, .closecomment:hover, .closecomment:focus, .closecomments:hover, .closecomments:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}
.closecomment:hover, .closecomment:focus, .closecomments:hover, .closecomments:focus {
	background-color: #000000;
}
.modal-header {
  padding: 2px 16px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 5px;
}
.modal-body {
	padding: 10px 25px;
	border-radius: 5px;
	text-align: center;
	margin: 10px;
}
.modal-body a{
	padding: 0 5px;
}
#buildingcontainer {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	position: relative;
}
#building {
	display: flex;
	flex-flow: column;
	font-size: 18px;
	width: 25%;
	justify-content: space-around;
	position: relative;
	height: 600px;
	margin: 5px 2.5px;
	overflow: scroll;
}
#themevideocontainer {
	border: 1px solid orange;
	border-radius: 5px;
	box-shadow: 3px 1px 15px orange;
}
.preview {
	display: none;
	border: 1px solid orange;
	border-radius: 5px;
	box-shadow: 3px 1px 15px orange;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	text-align: center;
}
#preview1 {
	width: 100%;
	height: 540px;
}
#previewcontainer {
	width: 50%;
	height: 600px;
	margin: 5px;
}
#spinoption {
	width: 25%;
	height: 600px;
	margin: 5px;
	overflow: scroll;
}
#optionlabel{
	width: 90%;
	margin-top: 40%;
}
#fastspin, #spin, #nospin {
	text-align: justify;
}
.links {
	margin: 10px;
	padding: 5px 10px;
}
.buildselect {
	margin: auto;
	padding: 8px;
	text-align: center;
	width: 90%;
	font-size: 18px;
}
.buildlabel {
	width: 90%;
	padding: 8px;
	margin: auto;
}
#csmsourcelabel {
	margin: 5px auto;
}
#downloadtext {
	display: none;
	overflow: scroll;
	margin: auto;
	padding: 15px;
	font-size: 18px;
}
#csmfile {
	margin: 5px;
	padding: 8px;
	text-decoration: none;
}
#csmfile:hover {
	border: 1px solid rgb(255, 255, 255);
	border-radius: 5px;
	box-shadow: 2px 4px 10px rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}
#message {
	width: 90%;
	padding: 5px;
	margin: 10% auto;
}
#downloadcnt {
	margin: 5% auto;
	width: 90%;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 5px;
	box-shadow: -3px -1px 15px yellow;
	padding: 8px;
	font-size: 18px;
}
.flex-row {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-around;
}
.flex-column {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
}
.width90percent {
	width: 90%;
}
#commentcontainer {
	width: 30%;
	position: absolute;
	left: 35%;
	bottom:2%;
	margin-right: auto;
	font-size: 18px;
	border-radius: 5px;
	color: white;	
	border: 1px solid green;
	box-shadow: 2px 4px 15px green ;
}
#commentuser {
	display: none;
	width: 49%;
	padding: 5px;
	margin: 5px;
	color: black;
}
#commentusername {
	margin-right: 10px;
	float: right;
	clear: left;
	width: 50%;
}
#commenttext:hover, #commentview:hover {
	box-shadow: -3px -1px 10px rgb(255, 255, 0);
	color: rgb(0, 0, 0);
	background-color: rgb(230, 217, 204);
	cursor: pointer;

}
#preview1:hover {
	cursor: pointer;
}
#commenttext, #commentview {
	width: 40%;
	padding:10px;
	margin: 10px 5px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: #000000;
	box-shadow: 2px 4px 15px orange;
	text-align: center;
}
#commenttext {
	float: left;
}
#commentview {
	float: right;
}
#commentcomment {
	width: 100%;
	height: 100px;
}
#commentusercomment {
	width: 95%;
	margin: 2%;
	padding: 10px;
	overflow: auto;
	height: 100%;
}
#usercomments {
	width: 95%;
	height: 95%;
	margin: 2%;
	padding: 5px;
	overflow-y:scroll;
	overflow-x:auto;
	overflow-wrap:break-word;
}
#enterbuttoncomment {
	width: 50%;
	padding:10px;
	margin: 10px auto;
	border-radius: 5px;
	border: 1px solid black;
	background-color: #000000;
	box-shadow: 3px 1px 10px orange;
	text-align: center;
}
#enterbuttoncomment:hover {
	box-shadow: -3px -1px 10px rgb(255, 255, 1);
	color: rgb(0, 0, 0);
	background-color: rgb(230, 217, 204);
	cursor: pointer;
}
#commentspan {
	margin: 5px;
	padding: 5px 5px;
}
.dot {
	height: 175px;
	width: 175px;
	background-color: transparent;
	border-radius: 50%;
	position:absolute;
	bottom:5%;
	left: 4%;
	border: 10px solid rgb(60, 159, 221, 0.5);
  }
  .dot:hover {
	border: 10px solid rgb(255, 255, 0, 0.5)
  }
  .dot2 {
	height: 175px;
	width: 180px;
	background-color: transparent;
	border-radius: 50%;
	position:absolute;
	bottom:5%;
	right: 3.25%;
	border: 10px solid rgb(60, 159, 221, 0.5);
  }
  .dot2:hover {
	border: 10px solid rgb(255, 255, 0, 0.5);
	cursor: pointer;
  }
  #dualpicmodal {
	text-align: center;
  }
  .dualpicmodal {
	display: none;
	position: fixed; 
	z-index: 1; 
	padding-top: 2.5%; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; 
	background-color: rgba(0,0,0,0.9);
	border-radius: 5px;
  }
  .dualpic-content {
	position: relative;
  background-color: transparent;
  margin: auto;
  padding: 0;
  width: 90%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s
  }
  .dualpicmodal-body {
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	margin: 5px;
  }
 #dualpic1, #dualpic2 {
	height: max-content;
	width: 45%;
	margin: 10px;
	border-radius: 5px;
 }
 #maintenance {
	width: 90%;
	color: red;
	margin: auto;
	padding: 15px;
	background-color: whitesmoke;
	text-align: center;
	border-radius: 5px;
 }
@media screen and (max-width: 600px) {
	#pageheadercontainer {
		width: 95%;
		margin: 5px auto auto auto;
	}
	#nav {
		display: block;
		margin: auto;
	}
	.navinner {
		width: 95%;
	}
	#infocontainer {
		margin:  5px auto auto auto;
		padding: 5px;
		width: 95%;
	}
	.statsmodal-content, .contactmodal-content, .linksmodal-content, .downloadtextmodal-content {
		width: 100%;
		height: auto;
	}
	#buildingcontainer {
		display: flex;
		flex-flow: column;
		align-items: center;
		align-content: space-around;
		height: auto;
	}
	#building, #spinoption, #previewcontainer {
		width: 95%;
	}
	#preview1 {
		height: auto;
		margin: 5px auto;
	}
	#themevideocontainer {
		width: 100%;
		height: auto;
	}
	#videoframe {
		height: auto;
		width: 100%;
	}
	.dot, .dot2 {
		height: 50px;
		width: 50px;
	}
}
